/* ubuntu-bold */
@font-face {
	font-family: Ubuntu;
	font-style: normal;
	font-weight: 700;
	src: local("Ubuntu Bold"), local("Ubuntu-Bold"), url(ubuntu-bold.woff2) format("woff2");
}
/* ubuntu-bold-italic */
@font-face {
	font-family: Ubuntu;
	font-style: italic;
	font-weight: 700;
	src: local("Ubuntu Bold Italic"), local("Ubuntu-BoldItalic"), url(ubuntu-bold-italic.woff2) format("woff2");
}
/* ubuntu-light */
@font-face {
	font-family: Ubuntu;
	font-style: normal;
	font-weight: 300;
	src: local("Ubuntu Light"), local("Ubuntu-Light"), url(ubuntu-light.woff2) format("woff2");
}
/* ubuntu-light-italic */
@font-face {
	font-family: Ubuntu;
	font-style: italic;
	font-weight: 300;
	src: local("Ubuntu Light Italic"), local("Ubuntu-LightItalic"), url(ubuntu-light-italic.woff2) format("woff2");
}
/* ubuntu-medium */
@font-face {
	font-family: Ubuntu;
	font-style: normal;
	font-weight: 500;
	src: local("Ubuntu Medium"), local("Ubuntu-Medium"), url(ubuntu-medium.woff2) format("woff2");
}
/* ubuntu-medium-italic */
@font-face {
	font-family: Ubuntu;
	font-style: italic;
	font-weight: 500;
	src: local("Ubuntu Medium Italic"), local("Ubuntu-MediumItalic"), url(ubuntu-medium-italic.woff2) format("woff2");
}
/* ubuntu */
@font-face {
	font-family: Ubuntu;
	font-style: normal;
	font-weight: 400;
	src: local("Ubuntu"), url(ubuntu.woff2) format("woff2");
}
/* ubuntu-italic */
@font-face {
	font-family: Ubuntu;
	font-style: italic;
	font-weight: 400;
	src: local("Ubuntu Italic"), local("Ubuntu-Italic"), url(ubuntu-italic.woff2) format("woff2");
}
/* ubuntu-thin */
@font-face {
	font-family: Ubuntu;
	font-style: normal;
	font-weight: 100;
	src: local("Ubuntu Thin"), local("Ubuntu-Thin"), url(ubuntu-thin.woff2) format("woff2");
}

