/* cantarell-bold */
@font-face {
	font-family: Cantarell;
	font-style: normal;
	font-weight: 700;
	src: local("Cantarell Bold"), local("Cantarell-Bold"), url(cantarell-bold.woff2) format("woff2");
}
/* cantarell-extra-bold */
@font-face {
	font-family: Cantarell;
	font-style: normal;
	font-weight: 800;
	src: local("Cantarell Extra Bold"), local("Cantarell-ExtraBold"), url(cantarell-extra-bold.woff2) format("woff2");
}
/* cantarell-light */
@font-face {
	font-family: Cantarell;
	font-style: normal;
	font-weight: 300;
	src: local("Cantarell Light"), local("Cantarell-Light"), url(cantarell-light.woff2) format("woff2");
}
/* cantarell-regular */
@font-face {
	font-family: Cantarell;
	font-style: normal;
	font-weight: 400;
	src: local("Cantarell Regular"), local("Cantarell-Regular"), url(cantarell-regular.woff2) format("woff2");
}
/* cantarell-thin */
@font-face {
	font-family: Cantarell;
	font-style: normal;
	font-weight: 100;
	src: local("Cantarell Thin"), local("Cantarell-Thin"), url(cantarell-thin.woff2) format("woff2");
}

