<div class="mquote">
    <blockquote>
        <p>{{ .Get "content" | markdownify }}</p>
    </blockquote>
    {{ with .Get "author" }}
        {{ if . }}
            <p class="mquoteAuthor">{{ . | markdownify }}</p>
        {{ end }}
    {{ end }}
    {{ with .Get "translation" }}
        {{ if . }}
            <p class="mquoteTranslation">{{ . | markdownify }}</p>
        {{  end }}
    {{ end }}
    {{ with .Get "translationAuthor" }}
        {{ if . }}
            <p class="mquoteAuthor">{{ . | markdownify }}</p>
        {{ end }}
    {{ end }}
    {{ with .Get "comment" }}
        {{ if . }}
            <p class="mquoteTranslation">{{ . | markdownify }}</p>
        {{ end }}
    {{ end }}
</div>
