/* tangerine-regular */
@font-face {
	font-family: Tangerine;
	font-style: normal;
	font-weight: 400;
	src: local("Tangerine Regular"), local("Tangerine-Regular"), url(tangerine-regular.woff2) format("woff2");
}
/* tangerine-bold */
@font-face {
	font-family: Tangerine;
	font-style: normal;
	font-weight: 700;
	src: local("Tangerine Bold"), local("Tangerine-Bold"), url(tangerine-bold.woff2) format("woff2");
}

